/* 

.bottom-background-container{
    background-color: transparent;
    height: 40h;
    width: 100vw;
}

.top-background-container{
    background-color: pink;
    height: 60vh;
    width: 100vw;
} */